#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=on --activate
network  --hostname=linux101

# Root password
rootpw --iscrypted $6$RJnLV/pIMgn1Kbe7$trd4fTKH3nE94QFRc29V3hOM6kFhEphwcTYpCZBPfGx22X8XhtvcXPr0MssRBCKs6MQLd6r8Gj/7eVN2MztIz/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Manila --isUtc
user --groups=wheel --name=student --password=$6$mCHPyXks0RiTsZlw$YK499MJMhJWInnMyYGEORujYoB76HCYEq2zvCPvnuqIUMj.01FizYw7.fQN9FEgTZk99CQQi.99vdtQBir6n90 --iscrypted --gecos="student"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post

%end
